@import "../Variables/Variables.scss";

.about {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;

    section {
        
        .profile {
            display: flex;

            .paragraph {
                flex-direction: column;
                margin: 0px 15px;
            }
        }
    }
}