@import "../Variables/Variables.scss";

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h1 {
        color: $redColor;
    }

    button {
        margin-left: 5px;
        @include buttonStyle($redColor, 35px);
    }

    .reset {
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    .output {
        font-size: 50px;       
    }
}



