@import "../Variables/Variables.scss";

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h1 {
        color: $redColor;
    }

    h1:hover {
        animation: heartBeat;
        animation-duration: 3s;
    }


    button {
        margin-left: 5px;
        @include buttonStyle($redColor, 35px);
        background-color: white;
        color: $redColor;
        border: 1px $redColor solid;
    }

    button:hover {
        background-color: $redColor;
        color: $whiteColor;
    }
    
    



    .reset {
        margin-top: 5px;
        display: flex;
        justify-content: center;

        button {
            background-color: $redColor;
            color: $whiteColor;
            width: 405px;
        }

        button:hover {
            font-weight: 600;
            background-color: $whiteColor;
            color: $redColor;
            border: none;
        }
    }

    .output {
        font-size: 50px;       
    }
}



