@import "../Variables/Variables.scss";

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        color: $redColor;
    }

    button {
        margin-left: 5px;
        @include buttonStyle($redColor, 35px);
    }
}

